:root {
	--ebcont-blue: #3683c7;
	--ebcont-gray: #707070;
	--ebcont-red: #e42b19;
	--ebcont-yellow: #ffd04f;
	--selection: #000;
	--inactive: #808080;
	--nav-selection-image: linear-gradient(90deg, var(--ebcont-blue) 25%, var(--ebcont-yellow) 25%, var(--ebcont-yellow) 50%, var(--ebcont-gray) 50%, var(--ebcont-gray) 75%, var(--ebcont-red) 75%);
}
* {
	box-sizing: border-box;
}
html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100vh;
}
body {
	font-family: sans-serif;
	background-color: var(--ebcont-red);
	background-image: linear-gradient(283deg, rgba(0, 0, 0, .1), rgba(0, 0, 0, 0.1) 35%, transparent 35%),
						linear-gradient(16deg, var(--ebcont-blue), var(--ebcont-blue) 30%, transparent 30%),
						linear-gradient(166deg, var(--ebcont-yellow), var(--ebcont-yellow) 24%, transparent 24%);
}
.active {
	color: var(--selection);
	border-color: var(--selection);
}
.card-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 90vh;
	width: 98vw;
	margin: 2vh 1vw;
	font-size: 54vmin;
	cursor: pointer;
	transition: all 0.1s ease-in-out;
	-webkit-tap-highlight-color: transparent;
}
.card-container.fullscreen {
	transform: rotate(-2deg);
	font-size: 61vmin;
}
.card {
	user-select: none;
	color: white;
	text-shadow: rgba(0, 0, 0, .3) .01em .01em;
	font-variant-numeric: proportional-nums;
}
.controls {
	background: white;
	position: fixed;
	padding: 1em;
	text-align: right;
	width: 100%;
	bottom: 0;
	left: 0;
	transition: all 0.1s ease-in-out;
	border-radius: 1em 1em 0 0;
	box-shadow: rgba(0, 0, 0, .5) 0 0.1em 2em;
}
.controls.minimized {
	transform: translateY(100%);
	box-shadow: none;
}
.controls .flex {
	display: flex;
	align-items: center;
}
.controls .flex div {
	flex: 0;
	text-align: left;
	margin-right: 16pt;
}
.controls .flex nav {
	flex: 1;
}
.controls section {
	margin-top: 8pt;
	text-align: center;
}
.controls section input {
	border: 2px solid var(--inactive);
	width: 100%;
	padding: 8pt;
	font-size: 12pt;
	caret-color: var(--selection);
	background: white;
	border-radius: 4pt;
}
.controls section input:focus {
	border-color: var(--selection);
	outline: none;
}
.controls section [type="range"] {
	width: 80%;
	border: 0;
	outline: none !important;
}
.controls section button {
	margin: 8pt;
	margin-top: 0;
}
button {
	border: 2px solid var(--inactive);
	color: #555;
	background: white;
	font-size: 12pt;
	padding: 4pt 9.6pt;
	border-radius: 4pt;
}
button:focus {
	border-color: var(--selection);
	outline: none;
}
nav button {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-radius: 0;
	border-color: var(--inactive);
}
nav button.active {
	border-image: var(--nav-selection-image);
	border-image-slice: 1;
}
input[type=range] {
	width: 100%;
	margin: 6px 0;
}
.scrum {
	text-transform: uppercase;
	font-weight: lighter;
}
.pok {
	font-weight: bold;
}
#install {
	position: absolute;
	z-index: 1;
	right: 1em;
	top: 1em;
}
[v-cloak] {
	display: none;
}
@media (orientation: landscape) {
	body {
		background-image: linear-gradient(283deg, rgba(0, 0, 0, .1), rgba(0, 0, 0, 0.1) 25%, transparent 25%),
							linear-gradient(4deg, var(--ebcont-blue), var(--ebcont-blue) 30%, transparent 30%),
							linear-gradient(173deg, var(--ebcont-yellow), var(--ebcont-yellow) 24%, transparent 24%);
	}
}