<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>scrumPOK</title>
	<meta name="description" content="scrumPok is a PWA which means everything runs and lives in your browser. Just browse to the page and you can start to show some Scrum Cards to the team.">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="base.css">
    <script src="vue.min.js"></script>
    <script src="installer.js" defer></script>
    <script src="scrumpoker.js" defer></script>
</head>
<body>
    <button id="install" class="active" hidden>
        Install <span class="scrum">scrum</span><span class="pok">POK</span>?
    </button>

    <div id="v" v-cloak>
        <div class="card-container" @click="fullscreen = !fullscreen" :class="{ fullscreen: fullscreen }">
            <div class="card">{{ card }}</div>
        </div>
        
        <div class="controls" :class="{ minimized: fullscreen }" ref="control">
            <nav>
                <button v-for="v in views" :class="{ active: v.isActive }" @click="toggleView(v)">{{ v.label }}</button>
            </nav>
    
            <div>
                <section v-if="activeView.id === 'list'">
                    <button v-for="c in cards" @click="card = c" :class="{ active: +c === +card }">{{ c }}</button>
                </section>
    
                <section v-if="activeView.id === 'text'">
                    <input ref="text" type="text" maxlength="2" v-model="card">
                </section>
    
                <section v-if="activeView.id === 'number'">
                    <input ref="number" type="number" min="0" max="100" v-model="card">
                </section>
    
                <section v-if="activeView.id === 'slide'">
                    <input ref="slide" :id="activeView.id" type="range" min="0" max="100" data-x-v-model="card" list="ticks" @input="correctRange($event)">
                    <datalist id="ticks">
                        <option v-for="c in cards" :value="c" :label="c"></option>
                    </datalist>
                </section>
                
                <section v-if="activeView.id === 'steps'">
                    <button @click="decrement()" :disabled="+card === cards[0]">prev.</button>
                    <button @click="increment()" :disabled="+card === cards[cards.length - 1]" class="increment">next</button>
                </section>
            </div>
        </div>
    </div>
</body>
</html>